/* @font-face{
    font-family: 'Arvo', serif;
    src: url('../font/Arvo/Arvo-Regular.ttf');

    font-family: 'Open Sans', sans-serif;
    src: url('../font/Open_Sans/OpenSans-Regular.ttf');
} */

body{
    background: url("../img/bananas.png") repeat;
}

.navbar-brand{
    background: grey;
    padding: 5px 5px;

    font-family: 'Arvo', serif;
}
/* .container-nav{
    max-width: 960px;
    flex-wrap: wrap;
} */
.container{
    max-width: 960px;
    flex-wrap: wrap;
    /* background: lightgray;

    margin: 10px 0px; */
}
.content-title{
    border-bottom:3px solid #ffc107;
    padding-bottom: 10px;
    margin: 10px 0px;

    font-family: 'Arvo', serif;
}
.rounded {
    margin: 0px 15px 5px 0px;
}

p{
    font-family: 'Open Sans', sans-serif;
}
/* .footer{
    justify-content: center;
    font-size: 15px;
} */